<div class="container">
  <header>
    <a [routerLink]="['/']" routerLinkActive="router-link-active" >
        <img src="./assets/images/cabecera.png" />
    </a>
</header>

<div *ngIf="log; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <a  class="m-5"
        [routerLink]="['/Cliente/MiPanel/MiPerfil']" 
        routerLinkActive="router-link-active">
        Ir a Mi Perfil
    </a>
</ng-template>
<ng-template #elseBlock>
    <a  class="m-5"
        [routerLink]="['/Cliente/Login']"
        routerLinkActive="router-link-active">
        Acceder a tu Cuenta
    </a>
</ng-template>

 <!-- body de las vistas q se incrustan en el layout -->
<div class="row">
    <div class="col-3">
        <!-- aqui va treeview de materias -->
        <app-treeviewmaterias></app-treeviewmaterias>
            
    </div>
    <div class="col-9">
        <!-- aqui van las vistas de los componentes hijos 
          como se incrustan dependiendo de la url q ponga el cliente
          el selector q ha de ponerse:
        -->
        <router-outlet></router-outlet>
    </div>
</div>

<footer>
    <p>&copy;Agapea Factory S.A. 2002 - @DateTime.Now.Year - Reservados todos los derechos</p>
    <a href="https://www.agapea.com/nota-legal.php">Aviso Legal</a> | <a href="https://www.agapea.com/condiciones-de-contratacion.php">Condiciones de Contratacion</a> | <a href="https://www.agapea.com/politica-privacidad.php">Politica de privacidad</a> | <a href="https://www.agapea.com/politica-cookies.php">Politica de Cookies</a>

</footer>
</div>