<div class="row">
    <div class="col">
        <table class="table">
            <tr>
                <td rowspan="2">
                    <img src="../../../assets/images/imagenLibro.png">
                </td>
            </tr>
            <tr>
                <td>
                    <label> {{itemPintar.libroItem.Titulo}}</label>
                </td>
                <td>
                    <button class="btn btn-danger" 
                       (click)="QuitarDePedido(itemPintar)"
                       >X</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary" 
                            name="botones"
                            id="botonMenos+{{libro.ISBN}}"
                            (click)="RestaCantidad(itemPintar)">
                            -
                            </button>
                    <label id="cantidad-{{libro.ISBN}}">{{itemPintar.cantidad}}</label>
                    <button class="btn btn-primary" 
                            name="botones"
                            id="botonMas+{{libro.ISBN}}"
                            (click)="SumaCantidad(itemPintar)">
                            +
                            </button>
                    <label>x {{itemPintar.libroItem.Precio}} €</label>

                </td>
                <td>
                    <!--
                         intento hacer para el subtotal el producto del precio por la cantidad
                        esto no sale....sale de forma literal en la vista, no el resultado
                        ¿¿solucion?? crear un HELPER para q me haga operaciones
                        un helper es codigo del lado del servidor precompilado q ejecuta 
                        codigo del lado del servidor y cuyo resultado se incrusta en la vista
                        q invoca el HELPER

                    -->
                    <label>{{itemPintar.libroItem.Precio*itemPintar.cantidad}} €</label>
                </td>
            </tr>
        </table>
    </div>
</div>
<!--
<script>
    var botones=document.getElementsByName("botones");

    //--añadimos un listener a todos los botonesMas y botonesMenos
    Array.from(botones).forEach( (boton)=> {
        boton.addEventListener("click", (ev)=>{
                var _botonpulsado=ev.target;
                var _isbnModificado=_botonpulsado.id.split("+")[1];
                var _cantidad=parseInt(document.getElementById("cantidad-"+_isbnModificado).childNodes[0].nodeValue);
                //incrementamos cantidad y pedimos al servidor refresque vistaPedido
                //con nueva cantidad
                switch(_botonpulsado.id.split("+")[0]){
                    case "botonMas":
                                    _cantidad = _cantidad + 1;
                                    break;
                    case "botonMenos":
                                    //controlo q no se ponga a 0!!!
                                    _cantidad = _cantidad - 1;
                                    break;
                }
                //document.getElementById("cantidad-"+_isbnelementoCarro[0]Modificado).childNodes[0].nodeValue=_cantidadelementoCarro[0];
                window.location.href="http://localhost:3000/Tienda/RefrescaPedido/" + _isbnelementoCarro[0]Modificado + "?cantidad=" + _cantidadelementoCarro[0];
        }); //fin listener click

    });
</script>
-->