<div class="card">
    <div class="card-header">
        Factura
    </div>
    <div class="card-body">
        <div *ngFor="let item of pedido.ListaElementos">
            <p class="card-text">{{item.cantidad}} - {{item.libroItem.Titulo}}</p>
            <hr>
        </div>
        <p>
            Gastos envío: {{pedido.GastosEnvio}} €
        </p>
        <p>
            Precio final: <strong>{{pedido.PrecioTotal}} €</strong> (Gastos de envio incluidos)
        </p>
        <form [formGroup]="formDireccion" (ngSubmit)="confirmarCompra()">
            <h5 class="card-title">Direccion de Envio</h5>
            <div *ngIf="direcciones.length>0">
                <div *ngFor="let item of direcciones; index as i;">
                    <div class="custom-control custom-radio">
                        <input type="radio" 
                                id="direccionEnvio{{i}}" 
                                name="direccionEnvio" 
                                class="custom-control-input"
                                value="{{i}}"
                                formControlName="direccionEnvio">
                        <label class="custom-control-label" 
                                for="direccionEnvio{{i}}"> {{item.direccion}} </label>
                    </div>
                </div>
            </div>
            <hr>
            <button class="btn btn-primary" 
               type="submit"
               [disabled]="formDireccion.status=='INVALID'">
               Confirmar Compra
            </button>
        </form>
    </div>
</div>