<div class="container">

    
    <button [routerLink]="['/Cliente/MiPanel/MisCompras']"
            routerLinkActive="router-link-active"
            class="btn btn-secondary btn-lg btn-block">
            Mis Compras
    </button>

    <div class="row">
        <div class="col">
        <h3><strong>Mi perfil de usuario</strong></h3>
        <p>Queremos estar en contacto contigo y ofrecert todas nuestras ventajas y servicios por ser usuario registrado
        de Agapea, tanto en nuestras librerias como en Agapea.com</p>
        </div>
    </div>

    <div class="row">
    
        <div class="col-12">
                <form [formGroup]="formularioModificar" (ngSubmit)="modificarDatos()">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Datos de Mi Perfil...</h5>
                            <div class="form-row">
                                <label for="archivo">
                                    <img style="
                                            height: 134px;
                                            width: 158px;
                                            margin: 10px 5px 0 0;"
                                            id="imagenUsuario"                    
                                            src="{{cliente.foto}}">
                                </label>
                                <input type="file"
                                       id="archivo"
                                       name="archivo"
                                       formControlName="archivo"
                                       hidden
                                       (change)="handleFileInput($event)">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="usernick"><strong>Usuario (nickname)</strong></label>
                                    <input type="text"
                                           class="form-control"
                                           id="usernick"
                                           name="usernick"
                                           formControlName="usernick"
                                           [placeholder]="cliente.miCuenta.usernick || campoVacio">
                                </div>
                            
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4"><strong>Correo Electronico</strong></label>
                                    <input type="email"
                                           class="form-control"
                                           id="inputEmail4"
                                           name="email"
                                           [value]="cliente.miCuenta.email || campoVacio"
                                           disabled>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4"><strong>Contraseña</strong></label>
                                    <input type="password"
                                           name="password"
                                           formControlName="password"
                                           class="form-control"
                                           id="inputPassword4"
                                           placeholder="Nueva contraseña">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="reinputPassword4"><strong>Repite la contraseña</strong></label>
                                    <input type="password"
                                           class="form-control"
                                           id="reinputPassword4"
                                           placeholder="Repita la nueva contraseña">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Datos de Personales...</h5>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputNombre"><strong>Mi Nombre es:</strong></label>
                                    <input type="text"
                                           name="nombre"
                                           formControlName="nombre"
                                           class="form-control"
                                           id="inputNombre"
                                           [placeholder]="cliente.nombre || campoVacio">
                                </div>
                            
                                <div class="form-group col-md-6">
                                    <label for="inputApellidos"><strong>Mis Apellidos son:</strong></label>
                                    <input type="text"
                                           name="apellidos"
                                           formControlName="apellidos"
                                           class="form-control"
                                           id="inputApellidos"
                                           [placeholder]="cliente.apellidos || campoVacio">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputNIF"><strong>NIF:</strong></label>
                                    <input type="text"
                                           name="nif"
                                           formControlName="nif"
                                           class="form-control"
                                           id="inputNIF"
                                           [placeholder]="cliente.nif || campoVacio">
                                </div>
                            
                                <div class="form-group col-md-6">
                                    <label for="inputTelefono"><strong>un telefono de contacto:</strong></label>
                                    <input type="text"
                                           name="telefono"
                                           formControlName="telefono"
                                           class="form-control"
                                           id="inputTelefono"
                                           [placeholder]="cliente.telefono || campoVacio">
                                </div>
                            </div>

                        </div>


                    </div>
                    <button type="submit" 
                            class="btn btn-secondary btn-lg btn-block">
                            Guardar Cambios
                    </button>
                    <button (click)="cerrarSesion()" 
                            class="btn btn-secondary btn-lg btn-block">
                            Cerrar Sesion
                    </button>
                </form>
        </div>
    </div>
</div>
